@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/static/layui/css/layui.css" />
    <script src="~/Content/static/layui/layui.js"></script>
    <style>

        .demoTable {
            margin-left: 20px;
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div>
        <div class="demoTable">
            搜索供应商：
            <div class="layui-inline">
                <input class="layui-input" name="id" id="searchVendorName" autocomplete="off">
            </div>
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
        <table lay-even class="layui-hide" id="goods" lay-filter="goods"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="choose">选择</a>
        </script>
    </div>
    <script>
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        layui.use(['layer', 'table'], function () {
            var table = layui.table;
            var $ = layui.$;

            table.render({
                elem: '#goods',
                even: true,
                size: 'sm',
                url: '/Apps/XYD/Vendor/SearchList',
                request: {
                    Name: $("#searchVendorName"),
                    pageName: 'Page',
                    limitName: 'Size'
                },
                cols: [[
                    { field: 'Code', align: 'center', width: 150, title: '供应商编码'},
                    { field: 'Name', title: '供应商名称' },
                    { align: 'center', align: 'center', width: 150, title: '操作', toolbar: '#barDemo' }
                ]],
                page: true,
                parseData: function (res) {
                    return {
                        "code": res.Succeed != true,
                        "count": res.Data.meta.total_count,
                        "data": res.Data.vendors
                    };
                }
            });

            table.on('tool(goods)', function (obj) {
                var data = obj.data;
                if (obj.event == 'choose') {
                    parent.$("#@ViewBag.cellId").text(data.Name);
                    parent.SaveCellValue(parent.$("#@ViewBag.cellId"), data.Name);
                    parent.layer.close(index);
                }
            });

            var $ = layui.$, active = {
                reload: function () {
                    var searchVendorName = $('#searchVendorName');

                    //执行重载
                    table.reload('goods', {
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                        , where: {
                            Name: searchVendorName.val()
                        }
                    }, 'data');
                }
            };

            $('.demoTable .layui-btn').on('click', function () {
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

        });
    </script>
</body>
</html>
