@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/static/layui/css/layui.css" />
    <script src="~/Content/static/layui/layui.js"></script>
</head>
<body>
    <div>
        <table lay-even class="layui-hide" id="goods" lay-filter="goods"></table>
        <script type="text/html" id="barDemo">
            <a class="layui-btn layui-btn-xs" lay-event="choose">选择</a>
        </script>
    </div>
    <script>
        var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
        layui.use(['layer', 'table'], function () {
            var table = layui.table;

            table.render({
                elem: '#goods',
                even: true,
                size: 'sm',
                url: '/Apps/XYD/Asset/AvailableAssets?WorkflowId=@ViewBag.mid&isWeb=true',
                request: {
                    pageName: 'Page',
                    limitName: 'Size'
                },
                cols: [[
                    { field: 'Name', title: '物品名称' },
                    { field: 'ModelName', title: '物品型号' },
                    { field: 'Unit', title: '单位' },
                    { field: 'Count', title: '库存' },
                    { align: 'center', title: '操作', toolbar: '#barDemo' }
                ]],
                page: true,
                parseData: function (res) {
                    return {
                        "code": res.Succeed != true,
                        "count": res.Data.meta.total_count,
                        "data": res.Data.records
                    };
                }
            });

            table.on('tool(goods)', function (obj) {
                var data = obj.data;
                if (obj.event == 'choose') {
                    parent.$("#@ViewBag.nameId").text(data.Name);
                    parent.$("#@ViewBag.modelId").text(data.ModelName == null ? '' : data.ModelName);
                    parent.$("#@ViewBag.unitId").text(data.Unit);
                    parent.SaveCellValue(parent.$("#@ViewBag.nameId"), data.Name);
                    parent.SaveCellValue(parent.$("#@ViewBag.modelId"), data.ModelName == null ? '' : data.ModelName);
                    parent.SaveCellValue(parent.$("#@ViewBag.unitId"), data.Unit);
                    parent.layer.close(index);
                }
            });

        });
    </script>
</body>
</html>
