<?xml version="1.0" encoding="utf-8" ?>
<!-- 此文件为Appkiz的应用程序的初始化数据配置文件。每当此文件被修改后，再次用户登录时系统将自动载入此文件并更新至数据库相关表中 -->

<App Code="XYD" Name="公司办公"  Icon="Content/images/appicon.png" Descr="公司办公" Version="1.0.0.0">
  <Menus>
    <Menu Code="home" Name="我的审批" Url="/index.html#/index" />
    <Menu Code="search" Name="审批查询" Url="/index.html#/search" Permission="xyd_search" />
  </Menus>
  <AppPermission>
    <Permission Code="xyd_search" Name="公司公文查询" Descr="公司公文查询" />
  </AppPermission>
  <ObjectPermission>
  </ObjectPermission>
  <Widgets>
    <Widget ID="widget.xyd.todo" Title="待处理的公司审批" Note="Widget待处理的审批" ContentUrl="Widget/ToDo.html" ConfigUrl="" Image="" />
  </Widgets>
  <SYS_Config>
  </SYS_Config>
</App>