<?xml version="1.0" encoding="utf-8" ?>
<!-- 此文件为Appkiz的应用程序的初始化数据配置文件。每当此文件被修改后，再次用户登录时系统将自动载入此文件并更新至数据库相关表中 -->

<App Code="DEP" Name="部门公文"  Icon="Content/images/appicon.png" Descr="部门公文" Version="1.0.0.0">
  <Menus>
    <Menu Code="home" Name="我的公文" Url="/index.html#/index" />
    <Menu Code="search" Name="公文查询" Url="/index.html#/search" Permission="search" />
  </Menus>
  <AppPermission>
  </AppPermission>
  <ObjectPermission>
  </ObjectPermission>
  <Widgets>
    <Widget ID="widget.dep.todo" Title="待处理的部门公文" Note="Widget待处理的公文" ContentUrl="Widget/ToDo.html" ConfigUrl="" Image="" />
  </Widgets>
  <SYS_Config>
  </SYS_Config>
</App>